.task {
  border: 1px solid black;
  margin: 100px auto;
  width: 1200px;
  text-align: center;
}

.tabs {
  border: 1px solid blue;
}

.tabs__link {
  border: 1px solid green;
  padding: 20px;
  display: inline-block;
}

.tabs_text {
  width: 80%;
  height: 400px;
  margin: auto;
  border: 1px solid saddlebrown;
  text-align: center;
  font-size: 20px;
  display: none;
}

.tabs_text_active {
  display: block;
}
